body
{
    box-sizing: border-box;
    margin: 0;
    color: deeppink;
    background-color: pink;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: deeppink;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
}
header nav{
    color: pink;
    display: flex;
    align-items: center;
}